<extend  name="Commen/addEdit"/>
<block name="form">
    <div class="tab-div">
        <div id="tabbar-div">
            <p>
                <span class="tab-front" id="general-tab">通用信息</span>
            </p>
        </div>
        <div id="tabbody-div">
            <form enctype="multipart/form-data" name="supplierForm" action="{:U('addEdit')}" method="POST">
                <table width="90%" id="general-table" align="center">

                    <tr>
                        <td class="label">品牌名称：</td>
                        <td>
                            <input type="text" name="name" value="{$name}"/>
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">品牌网址：</td>
                        <td>
                            <input type="text" name="url" value="{$url}"/>
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">LOGO：</td>
                        <td>
                            <input type="file" id="logo_uploader" name="logo_uploader" value="{$logo}"/>
                            <input type='hidden' class="logo" name='logo'/>
                            <!-- 图片预览 -->
                            <div class="upload-img-box" style="display: none">
                                <div class="upload-pre-item">
                                    <img src="">
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="label">排序：</td>
                        <td>
                            <input type="text" name="sort" value="{$sort|default=20}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">是否显示：</td>
                        <td>
                            <input type="radio" class="status" name="STATUS" value="1"/>是
                            <input type="radio" class="status" name="STATUS" value="0"/>否
                        </td>
                    </tr>
                    <tr>
                        <td class="label">品牌简介：</td>
                        <td>
                            <textarea name="intro" cols="40" rows="3">{$intro}</textarea>
                        </td>
                    </tr>
                </table>
                <div class="button-div">
                    <input type="submit" value=" 确定 " class="button ajax_post"/>
                    <input type="reset" value=" 重置 " class="button" />
                </div>
                <input type="hidden" name="id" value="{$id}"/>
            </form>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__UPLOADIFY__jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        $(function(){

            $("#logo_uploader").uploadify({
                'width'         : 146,
                'height'        : 22,
                'buttonText'    : '上传图片',                        //指定按钮上面的文字
                'debug'         : true,                             //是否调试
                'fileSizeLimit' : '1MB',                            //最大上传大小
                'fileTypeExts'  : '*.gif; *.jpg; *.png',            //允许上传的文件
                'swf'           : "__UPLOADIFY__uploadify.swf",
                'uploader'      : "{:U('Upload/index')}",
//                'formData'      : {'dir':'Brand'},             //上传本地文件时额外传递过去的参数---->告知服务器上的IndexController中的index方法将来将文件上传到哪个文件夹下
                'formData'      : {'dir':'nalan'},             //上传文件时额外传递过去的参数---->告知服务器上的IndexController中的index方法将来将文件上传到哪个文件夹下
                'onUploadSuccess' : function(file, data, response){  //data就是响应的 上传成功后的地址
                    var path = data.substring(0,data.indexOf('<div'));
                    //上传成功后，将图片预览，并将保存地址保存到表单中提交
                    $('.upload-img-box').show(); //显示出div
                    $('.upload-img-box .upload-pre-item img').attr('src','__BRAND__'+path);
                    $('.logo').val(path);  //将上传后的路径同时也放到隐藏域中.. 一起提交给服务器.
                },
                'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                }
            });
        });
    </script>
</block>
