<extend  name="Commen/index"/>
<block name="list">
    <table cellpadding="3" cellspacing="1">
        <tr>
            <th>ID<input type="checkbox" class="selectAll" /></th>
            <th>品牌名称</th>
            <th>品牌网址</th>
            <th>LOGO</th>
            <th>品牌描述</th>
            <th>排序</th>
            <th>是否显示</th>
            <th>操作</th>
        </tr>
        <volist name="rows" id="row">
            <tr align="center">
                <td>{$row.id}<input type="checkbox" class="ids" /></td>
                <td class="first-cell">{$row.name}</td>
                <td>{$row.url}</td>
                <td>{$row.logo}</td>
                <td>{$row.intro}</td>
                <td>{$row.sort}</td>
                <td><a class="ajax_get" href="{:U('changeStatus',array('id'=>$row['id'],'status'=>1-$row['status']))}"><img src="__IMG__{$row.status}.gif"/></a></td>
                <td>
                    <a href="{:U('addEdit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                    <a class="ajax_get" href="{:U('changeStatus',array('id'=>$row['id']))}" title="移除">移除</a>
                </td>
            </tr>
        </volist>
    </table>
</block>

